.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 320rpx 0  200rpx;
  box-sizing: border-box;
}

.copy-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20rpx;
  justify-content: flex-start;
  flex-wrap: wrap;
  word-break: keep-all;
}

.title {
  color: #000000;
  cursor: pointer;
  display: inline;
  font-size: 30rpx;
  height: auto;
  text-align: left;
  width: auto;
  word-break: keep-all;
  writing-mode: vertical-rl;
}

.author {
  color: $uni-white;
  background-color: #c20000;
  border-radius: 6rpx;
  font-size: 90%;
  margin: 0.5em;
  font-weight: bold;
  letter-spacing: 2rpx;
  padding: 6rpx 4rpx 4rpx;
  writing-mode: vertical-rl;
}

.poem-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 26rpx;
}

.sentence-container{
    display: flex;
		max-height: 60vh;
}

.poem {
  color: #000;
  cursor: pointer;
  display: inline;
  width: auto;
  line-height: 1.35;
  font-size: 60rpx;
  height: auto;
  text-align: left;
  word-break: auto;
  writing-mode: vertical-rl;
}

.moto{
  font-size: 22rpx;
  font-weight: bold;
  line-height: 80rpx;
  color: #405f80;
}

.moto-container{
  margin-top: 200rpx;
  border: 1px solid #405f80;
  height: 80rpx;
  width: 228rpx;
  border-radius: 12rpx;
  text-align: center;
}